/* Global scrollbar hiding */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html {
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  background: #111;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

#scoreboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-separator {
  margin: 0 10px;
  color: #888;
}

.footer-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: -2.5px;
}

.top-scoreboard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  align-items: center;
  background: #1e1e1e;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 1200px;
}

.team-block {
  text-align: center;
}

.team-score {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}

.team-logo {
  width: 120px;
  height: 120px;
}

@media (max-width: 475px) {
  .team-logo {
    width: 100px;
    height: 100px;
  }
}

.small-team-logo {
    width: 60px;
    height: 40px;
  }

.team-abbr {
  font-size: 1.2rem;
}

.team-record {
  font-size: 0.9rem;
  color: #ccc;
}

.inning-center {
  text-align: center;
}

.inning-status {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.time-left {
  font-size: 1.6rem;
  font-weight: bold;
  color: grey;
}

.play-description {
  background: #1a1a1a;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.player-stats {
  background: #1a1a1a;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
}

.player-stats table {
  width: 100%;
  border-collapse: collapse;
}

.player-stats th,
.player-stats td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #444;
}

.stat-section {
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}
